<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- Favicon -->
    <link href="/images/favicon.png" rel="icon" type="image/png">

    <!-- CSS 
    ================================================== -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/framework.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css"> 
    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="/stylesheets/icons.css">
    <link rel="stylesheet" href="/stylesheets/form.css">

  </head>
  <body>
      <div id="wrapper">
        {{{body}}}
      </div>
  </body>
  
    <!-- javaScripts
    ================================================== -->
    <script src="/javascripts/framework.js"></script>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/simplebar.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/bootstrap-select.min.js"></script>
</html>
